<div class="row">
  <div class="span3">
    <div class="input">
        <%= text_field_tag "txtFrom" %>
    </div>
  </div>
  <div class="span1">
    <%= link_to_function  image_tag("bayan.png", :size => "35x15", :title => 'првст'), 'translateIt();', :class => "center" %>
  </div>
  <div class="span3">
    <%= text_field_tag "txtTo" %>
  </div>
</div>


