<table>
    <tr>
      <td><%= text_field_tag "txtFrom" %></td>
      <td><%= link_to image_tag("bayan.png", :alt => "првст", :size => "35x15"), :id => "btnTranslate"%></td>
      <td><%= text_field_tag "txtTo" %></td>
    </tr>
</table>

