<div class="row">
     <div class="clearfix span4 ">
        <textarea id="txtFrom">Ты принес?</textarea>
     </div>
     <div class="span1 center">
       <%= link_to_function  image_tag("bayan.png", :size => "35x15", :title => 'првст'), 'translateIt();'%>
     </div>
     <div class="clearfix span4">
       <textarea id="txtTo">т прнс?</textarea>
     </div>
 </div>



