// Place all the styles related to the Vonny controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.footer {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  float: right;
  margin-right: 8px;
  color: navy;
  font-size: x-small;
}

.vonny {
  margin-bottom: 20px;
  float: center;
}

body {
  margin-left: 15px;
}

.center{
  text-align: center;
  vertical-align: middle;
}

textarea {
   width: 280px;
  height: 100px;
  color: navy;
}

